*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 8px;
  scroll-behavior: smooth;
  text-size-adjust: none;

  @include respond(tab-land) {
    font-size: 7.5px;
  }
  @include respond(tab-port) {
    font-size: 7px;
  }
}

body {
  box-sizing: border-box;
  color: $color-dark-blue;
  font-family: $font-montserrat;
  font-weight: $font-regular;
  background-color: #F3F6FA;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-dark-blue;
  color: $color-primary;
}

.header-content[lazy=loading] {
  filter: blur(10px);
}
