$color-primary: #00E8BE;
$color-secondary: #202345;
$color-light-blue: #4644EF;
$color-dark-blue: #373747;
$color-dark-gray: #F2F3F6;
$color-black: #000000;
$color-white: #ffffff;

$font-montserrat: "Montserrat", sans-serif;
$font-source-sans-pro: "Source Sans Pro", sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$border-radius-default: 10px;

$shadow-default: 2px 5px 5px rgba($color-black, 0.25);
